

<form action="https://localhost:7172/SearchNOK" method = "post">
  <ul>
    <li>
      <label for="name">Число 1:</label>
      <input type="text" id="number1" name="number1" value=@ViewData["n1"]>
    </li>
    <li>
      <label for="name">Число 2:</label>
      <input type="text" id="number2" name="number2" value=@ViewData["n2"]>
    </li>
  </ul>
  <p><input type="submit"></p>
    <li>
        @if ((int)ViewData["n1"] > 0 && (int)ViewData["n2"] > 0)
        {
            <label>НОК: </label>
            <label for="name">@ViewData["res"]</label>
        }
        else
        {
          <label>Введите корректные данные</label>

        }
   </li>
  
 </form>

  